<app-header></app-header>

<div class="container-card">

    <div class="card" *ngFor="let data of saltado" >
        <figure>
            <img [src]="data.imgUrl">
        </figure>
        <div class="contenido-card">
            <h3>{{data.name}}</h3>
            <p>descripción: {{data.description}}</p>
            <p>precio: s/{{data.price}}</p>
            <br>
            <!-- <a class="badge badge-dark" href="/categoria">Ver mas</a> -->
            <button type="button" class="btn btn-info m-1" (click)="addCarta(data._id)">
                <i class="bi bi-cart"></i>
                Añadir
            </button>
        </div>
    </div> 
</div>
