<app-header></app-header>
<div class="banner">
</div>
<!--   Tarjetas-->
<div class="title-cards">
    <h2>Algunas Promociones Temporales</h2>
</div>
<div class="container-card">

    <div class="card">
        <figure>
            <img
                src="../../../assets/IMG/PRODUCTOS/1.2+Combo+Tori+Brasa.jpg">
        </figure>
        <div class="contenido-card">
            <h3>1/2 combo tori brasa</h3>
            <p>1/2 pollo + papas + ensalada + 2 gaseosas de 500 ml + salsas (la brava + la mayo + la vinagreta)</p>
            <br>
            <p>s/ 44.90  </p>
            <a href="#">Comprar</a>
        </div>
    </div>
    <div class="card">
        <figure>
            <img src="../../../assets/IMG/PRODUCTOS/Bh9JsTZJ6nBkJsPSR-350-350.jpg">
        </figure>
        <div class="contenido-card">
            <h3>Pollo a la brasa con paltosa</h3>
            <p>Un pollo a la brasa con papas y ensalada paltosa. 2 ajíes de pollo + 2 mayonesas + 2 vinagretas (2oz).</p>
            <br>
            <p>S/ 77.90</p>
            <a href="#">Comprar</a>
        </div>
    </div>
    <div class="card">
        <figure>
            <img
                src="../../../assets/IMG/PRODUCTOS/BXhSxGbj5M9YaWX7h-350-350.jpg">
        </figure>
        <div class="contenido-card">
            <h3>Pollo con anticuchos</h3>
            <p>Un pollo a la brasa con papas y ensalada más una porción de anticuchos con papas nativas y trozo de choclo. 1 ají de pollo + 1 mayonesa + 2 vinagretas.</p>
            <p>S/ 83.50</p>
            <a href="#">Comprar</a>
        </div>
    </div>
    <div class="card">
        <figure>
            <img
                src="../../../assets/IMG/PRODUCTOS/GQ95Hf8zBQs99yujp-350-350.jpg">
        </figure>
        <div class="contenido-card">
            <h3>La Chicha Promo</h3>
            <p>La chicha promo con pollo a la brasa + papas (fritas o nativas) + ensalada + 1 Lt de chicha morada, 2 ají de pollo + 2 mayonesa + 2 vinagreta</p>
            <p>S/ 74.00</p>
            <a href="#">Comprar</a>
        </div>
    </div>
    <br>  
</div>
