<app-header></app-header>

<div class="banner">
</div>
<!--   Tarjetas-->
<div class="title-cards">
    <h2>Algunos de nuestros Platos</h2>
</div>

<div class="container">
    <div class="card" *ngFor="let data of menu">
        <div class="card-image">
            <img [src]="data.imgUrl" alt="...">
        </div>
        <div class="card-content">
            <h3>{{ data.description }}</h3>
            <button href="/categoria">Ver mas</button>
        </div>
    </div>
</div>

<app-footer></app-footer>