<app-header></app-header>

<div class="banner">
</div>
<!--   Tarjetas-->
<div class="title-cards">
    <h2>Algunos de nuestros Platos</h2>
</div>
<div class="container-card">

    <div class="card" *ngFor="let data of menu" >
        <figure>
            <img [src]="data.imgUrl">
        </figure>
        <div class="contenido-card">
            <h3></h3>
            <p></p>
            <br>
            <p></p>
            <a href="/categoria">Ver mas</a>
        </div>
    </div> 
</div>

<app-footer></app-footer>