<app-header></app-header>

<!--Contactos-->
<section class="bg-light mt-5 py-5">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6">
                <h3 class="col-xs text-center">CONTACTENOS</h3>
                <p>Dejanos tu Mensaje y nos comunicamos contigo.</p>
                <form action="" method="">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <i class="bi bi-person-circle input-group-text"></i>
                        </div>
                        <input type="text" class="form-control" placeholder="Usuario" name="nombres">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <i class="bi bi-pencil-square input-group-text"></i>
                        </div>
                        <input type="text" class="form-control" placeholder="Email" name="correo">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <i class="bi bi-envelope input-group-text"></i>
                        </div>
                        <textarea name="mensaje" class="form-control" id="" cols="30" rows="10"
                            placeholder="Mensaje"></textarea>
                    </div>
                    <input type="submit" value="Enviar" class="botoncontactarnos form-control  text-black">
                </form>
            </div>

            <div class="col-lg-6">
                <div class="maps">
                    <h3>Ubicanos en nuestros locales</h3>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24072.752067619003!2d-76.92914241610633!3d-12.021997024782488!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c32b41555c7f%3A0xb23953c120119e07!2sPOLLERIA%20%22%20%C3%91a%C3%B1o&#39;s%20Chicken%20%22%20sede%20Mariategui!5e0!3m2!1ses-419!2spe!4v1680838852581!5m2!1ses-419!2spe"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <ul class="vineta smallarrow ml-3">
                        <li class="buen">Correo Electronico: <a
                                href="mailto:liyonicol23203@gmail.com">polleriañaños@gmail.com</a></li>
                        <li class="buen">Cel: 961 923 339 // (01))362-1250</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>