<header>
  <div class="container">
      <nav class="nav_checkbox">
          <!-- <a href="#" class="logo"><h2>LOGO</h2></a> -->
          <img src="../../../assets/images/nanoshd.jpg" class="logo" alt="">
          <input type="checkbox" id="tab-nav" class="tab-nav">
          <label for="tab-nav" class="label">
              <div class="burger"></div>
              <div class="burger"></div>
              <div class="burger"></div>
          </label>
          <ul class="content_nav">
              <li *ngIf="token"><a routerLink="/carrito"><i class="bi bi-cart4 h3"></i></a></li>
              <li><a routerLink="/menu">INICIO</a></li>
              <li><a routerLink="/categoria">CARTA</a></li>
              <li><a routerLink="/nosotros">NOSOTROS</a></li>
              <li><a routerLink="/contacto">CONTACTO</a></li>
              <li *ngIf="!token"><a routerLink="/login">LOGIN</a></li>
              <li *ngIf="token"><a routerLink="/perfil"><i class="bi bi-person"></i>PERFIL</a></li>
              <li *ngIf="token"><a routerLink="/menu" (click)="logout()"><i class="bi bi-box-arrow-right"></i></a></li>
          </ul>
      </nav>
  </div>
</header>
<!-- <section class="content_section">

</section> -->