<header>
  <div class="container">
      <nav class="nav_checkbox">
          <!-- <a href="#" class="logo"><h2>LOGO</h2></a> -->
          <img src="../../../assets/images/nanoshd.jpg" class="logo" alt="">
          <input type="checkbox" id="tab-nav" class="tab-nav">
          <label for="tab-nav" class="label">
              <div class="burger"></div>
              <div class="burger"></div>
              <div class="burger"></div>
          </label>
          <ul class="content_nav">
              <li><a href="#">INICIO</a></li>
              <li><a href="/categoria">CARTA</a></li>
              <li><a href="#">NOSOTROS</a></li>
              <li><a href="#">CONTACTO</a></li>
              <li><a href="/login">LOGIN</a></li>
          </ul>
      </nav>
  </div>
</header>
<!-- <section class="content_section">

</section> -->