<div class="limiter">
    <div class="container-login100" style="background-image: url('../../../../assets/images/bg-01.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <form class="login100-form" autocomplete="off" [formGroup]="registerForm" (ngSubmit)="register()">

                <span class="login100-form-title p-b-49">
                    Crear cuenta
                </span>

                <div class="wrap-input100 m-b-23">
                    <span class="label-input100">Nombre</span>
                    <input class="input100" type="text" formControlName="name" name="name"
                        placeholder="Ingresa tu Nombre">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 m-b-23">
                    <span class="label-input100">Apellido</span>
                    <input class="input100" type="text" formControlName="lastname" name="lastname"
                        placeholder="Ingresa tu Apellido">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 m-b-23">
                    <span class="label-input100">Email</span>
                    <input class="input100" type="email" formControlName="email" name="email"
                        placeholder="Ingresa tu email">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 m-b-23">
                    <span class="label-input100">Tipo de Documento</span>
                    <input class="input100" type="text" formControlName="documentType" name="documentType"
                        placeholder="Elige tu Tipo de Documento">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 m-b-23">
                    <span class="label-input100">Número de Documento</span>
                    <input class="input100" type="text" formControlName="documentNumber" name="documentNumber"
                        placeholder="Ingresa tu Número de Documento">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100">
                    <span class="label-input100">Password</span>
                    <input class="input100" type="password" formControlName="password" name="password"
                        placeholder="Ingresa tu password">
                    <span class="focus-input100"></span>
                </div>

                <div class="text-right p-t-8 p-b-31"></div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" [disabled]="registerForm.invalid">
                            Registrar
                        </button>
                    </div>
                </div>

                <div class="flex-col-c p-t-60">
                    <span class="txt1 p-b-17">
                        ¿Ya tienes una cuenta?
                    </span>

                    <a routerLink="/login" class="txt2">
                        Inicia sesión aquí
                    </a>
                </div>
            </form>

        </div>
    </div>
</div>