<div class="container-all" id="move-content">
    <div class="container-post">

        <input type="radio" id="TODOS" name="categories" value="TODOS" checked>
        <input type="radio" id="POLLOS" name="categories" value="POLLOS">
        <input type="radio" id="PARRILLAS" name="categories" value="PARRILLAS">
        <input type="radio" id="SALTADOS" name="categories" value="SALTADOS">
        <input type="radio" id="MIX" name="categories" value="MIX">
        <input type="radio" id="PROMO" name="categories" value="PROMO">
        <input type="radio" id="ADICIONAL" name="categories" value="ADICIONAL">

        <div class="container-category">
            <label for="TODOS">Todos</label>
            <label for="POLLOS">Pollos a la brasa</label>
            <label for="PARRILLAS">Parrillas</label>
            <label for="SALTADOS">Saltados</label>
            <label for="MIX">Mix Chauferos</label>
            <label for="PROMO">Promociones</label>
            <label for="ADICIONAL">Adicionales</label>
        </div>
        <div class="posts">

            <div class="post" data-category="POLLOS">

                <div class="ctn-img">
                    <img src="../../../assets/IMG/CATEGORIA/Pollos/combinado-familiar.jpg" alt="">
                </div>
                <h2>Combinado Familiar</h2>
                <span>1 Pollo a la brasa + papas fritas+ ensalada + arroz chaufa + gaseosa de 1.5 Lt</span>
                <ul class="ctn-tag">
                    <li>S/ 60.00</li>
                </ul>
                <a href=""><button class="boton">Comprar</button></a>

            </div>

            <div class="post" data-category="POLLOS">

                <div class="ctn-img">
                    <img src="../../../assets/IMG/CATEGORIA/Pollos/POLLO-MAS-PAPA-MAS-ENSALADA-MAS-GASEOSA.jpg" alt="">
                </div>
                <h2>Pollo Oferta</h2>
                <span>1 Pollo + papas fritas + ensalada + gaseosa de 1.5 Lt</span>
                <br>
                <ul class="ctn-tag">
                    <li>S/ 59.99</li>
                </ul>
                <a href=""><button>Comprar</button></a>

            </div>

            <div class="post" data-category="POLLOS">

                <div class="ctn-img">
                    <img src="../../../assets/IMG/CATEGORIA/Pollos/medio-pollo-mas-papa-mas-ensalada-mas-gaseosa.jpg" alt="">
                </div>
                <h2>1/2 pollo + papas + ensalada + 2 gaseosas</h2>
                <span>1/2 pollo + papas fritas + ensalada + 2 gaseosas de 500 ml</span>
                <ul class="ctn-tag">
                    <li>S/ 40.00</li>
                </ul>
                <a href=""><button>Comprar</button></a>

            </div>

            <div class="post" data-category="POLLOS">

                <div class="ctn-img">
                    <img src="../../../assets/IMG/CATEGORIA/Pollos/cuarto-de-pollo-mas-ensalada-papas-y-gaseosa.jpg" alt="">
                </div>
                <h2>1/4 pollo + papas + ensalada + gaseosa</h2>
                <span>1/4 pollo + papas fritas + ensalada + gaseosa de 500ml</span>
                <ul class="ctn-tag">
                    <li>S/ 38.99</li>
                </ul>
                <a href=""><button>Comprar</button></a>

            </div>

            <div class="post" data-category="PARRILLAS">

                <div class="ctn-img"><img src="../../../assets/IMG/CATEGORIA/Parrillas/parrilla-del-chef.jpg" alt=""></div>
                <h2>Parrilla del Chef</h2>
                <span>1 Churrasco, chuleta de cerdo, filete de pierna, palito de anticucho,chorizo, papas fritas, ensalada mixta y gaseosa de 1.5L</span>
                <ul class="ctn-tag">
                    <li>S/ 60.00</li>
                </ul>
                <a href="#"><button>Comprar</button></a>

            </div>

            <div class="post" data-category="PARRILLAS">

                <div class="ctn-img"><img src="../../../assets/IMG/CATEGORIA/Parrillas/BRASA-EXTREMO-1.jpg" alt=""></div>
                <h2>Brasa extremo</h2>
                <span>1/4 de pollo + 1 palito de anticucho + 1 chorizo + papas fritas + ensalada</span>
                <br>
                <br>
                <ul class="ctn-tag">
                    <li>S/ 35.00</li>
                </ul>
                <a href="#"><button>Comprar</button></a>

            </div>

            <div class="post" data-category="PARRILLAS">

                <div class="ctn-img"><img src="../../../assets/IMG/CATEGORIA/Parrillas/churrasco-a-lo-pobre.jpg" alt=""></div>
                <h2>Churrasco a la pobre</h2>
                <span>Churrasco + plátano + huevo frito + arroz blanco + papas fritas + ensalada.</span>
                <br>
                <ul class="ctn-tag">
                    <li>S/ 35.00</li>
                </ul>
                <a href="#"><button>Comprar</button></a>

            </div>

            <div class="post" data-category="PARRILLAS">

                <div class="ctn-img"><img src="../../../assets/IMG/CATEGORIA/Parrillas/pechuga-norkys.jpg" alt=""></div>
                <h2>Pechuga</h2>
                <span>Filete de pechuga de pollo, tocino, queso champiñones y jamón. Acompañado con papas fritas y ensalada.</span>
                <ul class="ctn-tag">
                    <li>S/ 35.00</li>
                </ul>
                <a href="#"><button>Comprar</button></a>

            </div>

            <div class="post" data-category="SALTADOS">

                <div class="ctn-img"><img src="../../../assets/IMG/CATEGORIA/Saltados/saltado-de-pollo.jpg" alt=""></div>
                <h2>Pollo Saltado</h2>
                <span>Pollo Saltado</span>
                <ul class="ctn-tag">
                    <li>S/ 20.00</li>
                </ul>
                <a href="#"><button>Comprar</button></a>

            </div>

            <div class="post" data-category="SALTADOS">

                <div class="ctn-img"><img src="../../../assets/IMG/CATEGORIA/Saltados/tallarin-saltada-de-pollo.jpg" alt=""></div>
                <h2>Tallarin Saltado de pollo</h2>
                <span>Tallarin saltado con pollo</span>
                <ul class="ctn-tag">
                    <li>S/ 18.00</li>
                </ul>
                <a href="#"><button>Comprar</button></a>

            </div>

            <div class="post" data-category="SALTADOS">

                <div class="ctn-img"><img src="../../../assets/IMG/CATEGORIA/Saltados/tallarin-saltado-de-carne.jpg" alt=""></div>
                <h2>Tallarin Saltado de Carne</h2>
                <span>Tallarin Saltado con Carne</span>
                <ul class="ctn-tag">
                    <li>S/ 20.00</li>
                </ul>
                <a href="#"><button>Comprar</button></a>

            </div>

            <div class="post" data-category="SALTADOS">

                <div class="ctn-img"><img src="../../../assets/IMG/CATEGORIA/Saltados/lomo-saltado.jpg" alt=""></div>
                <h2>Lomo Saltado</h2>
                <span>Lomo saltado</span>
                <ul class="ctn-tag">
                    <li>S/ 25.00</li>
                </ul>
                <a href="#"><button>Comprar</button></a>

            </div>

            <div class="post" data-category="MIX">

                <div class="ctn-img"><img src="../../../assets/IMG/CATEGORIA/Mix Chauferos/ARROZ-CHAUFA-DE-POLLO-A-LA-BRASA_1.jpg" alt=""></div>
                <h2>Chaufa de Pollo</h2>
                <span>Chaufa con pollo</span>
                <ul class="ctn-tag">
                    <li>S/ 15.00</li>
                </ul>
                <a href="#"><button>Comprar</button></a>

            </div>

            <div class="post" data-category="MIX">

                <div class="ctn-img"><img src="../../../assets/IMG/CATEGORIA/Mix Chauferos/CHAUFA-BRASA_1.jpg" alt=""></div>
                <h2>Mostrito</h2>
                <span>Arroz chaufa + Un cuarto de pollo</span>
                <ul class="ctn-tag">
                    <li>S/ 20.00</li>
                </ul>
                <a href="#"><button>Comprar</button></a>

            </div>

            <div class="post" data-category="MIX">

                <div class="ctn-img"><img src="../../../assets/IMG/CATEGORIA/Mix Chauferos/CHORICHAUFA.jpg" alt=""></div>
                <h2>Chaufa con Chorizo</h2>
                <span>Arroz chaufa con Chorizo</span>
                <ul class="ctn-tag">
                    <li>S/ 18.00</li>
                </ul>
                <a href="#"><button>Comprar</button></a>

            </div>

            <div class="post" data-category="MIX">

                <div class="ctn-img"><img src="../../../assets/IMG/CATEGORIA/Mix Chauferos/CHAUFA-CARNE.jpeg" alt=""></div>
                <h2>Chaufa de Carne</h2>
                <span>Chaufa con Carne</span>
                <ul class="ctn-tag">
                    <li>S/ 15.00</li>
                </ul>
                <a href="#"><button>Comprar</button></a>

            </div>   


            <div class="post" data-category="PROMO">

                <div class="ctn-img"><img src="../../../assets/IMG/CATEGORIA/Pollos/POLLO-MAS-PAPA-MAS-ENSALADA-MAS-GASEOSA.jpg" alt=""></div>
                <h2>Pollo Entero + papas fritas + ensalada + gaseosa</h2>
                <span>1 pollo a la brasa + papas + ensalada + incakola litro y medio</span>
                <ul class="ctn-tag">
                    <li>S/ 50.00</li>
                </ul>
                <a href="#"><button>Comprar</button></a>

            </div>

            <div class="post" data-category="PROMO">

                <div class="ctn-img"><img src="../../../assets/IMG/CATEGORIA/PROMO/1.2+Combo+Tori+Brasa.jpg" alt=""></div>
                <h2>Combo para dos</h2>
                <span>Medio pollo + ensalada de Palta + 2 incakola 600ml</span>
                <ul class="ctn-tag">
                    <li>S/ 35.00</li>
                </ul>
                <a href="#"><button>Comprar</button></a>

            </div>

            <div class="post" data-category="PROMO">

                <div class="ctn-img"><img src="../../../assets/IMG/CATEGORIA/PROMO/Promo+Del+Día.jpg" alt=""></div>
                <h2>Cuarto de Pollo + ensalada + gaseosa</h2>
                <span>Un cuarto + papas + ensalada de palta + incakola 600ml</span>
                <ul class="ctn-tag">
                    <li>S/ 20.00</li>
                </ul>
                <a href="#"><button>Comprar</button></a>

            </div>

            <div class="post" data-category="PROMO">

                <div class="ctn-img"><img src="../../../assets/IMG/CATEGORIA/PROMO/TORI+97.jpg" alt=""></div>
                <h2>Pollo entero + chaufa</h2>
                <span>Un Pollo entero + porcion de chaufa</span>
                <ul class="ctn-tag">
                    <li>S/ 45.00</li>
                </ul>
                <a href="#"><button>Comprar</button></a>

            </div>

            <div class="post" data-category="ADICIONAL">

                <div class="ctn-img"><img src="../../../assets/IMG/CATEGORIA/ensaladas/cc406f29-7882-4064-af8a-626ef526dee7_2.jpg" alt=""></div>
                <h2>ensalada </h2>
                <span>ensalada con palta</span>
                <ul class="ctn-tag">
                    <li>S/ 10.00</li>
                </ul>
                <a href="#"><button>Comprar</button></a>

            </div>

            <div class="post" data-category="ADICIONAL">

                <div class="ctn-img"><img src="../../../assets/IMG/CATEGORIA/Adicionales/un-cuarto-adicional.jpg" alt=""></div>
                <h2>Un cuarto de pollo</h2>
                <span>Cuarto de Pollo</span>
                <ul class="ctn-tag">
                    <li>S/ 15.00</li>
                </ul>
                <a href="#"><button>Comprar</button></a>

            </div>

            <div class="post" data-category="ADICIONAL">

                <div class="ctn-img"><img src="../../../assets/IMG/CATEGORIA/Adicionales/GmWx9dvjjAkzzpyz7-papa.jpg" alt=""></div>
                <h2>Porcion de Papas fritas</h2>
                <span>papas fritas</span>
                <ul class="ctn-tag">
                    <li>S/ 10.00</li>
                </ul>
                <a href="#"><button>Comprar</button></a>

            </div>

            <div class="post" data-category="ADICIONAL">

                <div class="ctn-img"><img src="../../../assets/IMG/CATEGORIA/Adicionales/incakolalitroymedio.jpg" alt=""></div>
                <h2>Incakola</h2>
                <span>incakola litro y medio</span>
                <ul class="ctn-tag">
                    <li>S/ 10.50</li>
                </ul>
                <a href="#"><button>Comprar</button></a>
            </div>
        </div>
    </div>
</div>