<app-header></app-header>

<br>
<div class="container">
    <p>
        <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
          Buscar
        </button>
      </p>
      <div style="min-height: 120px;">
        <div class="collapse collapse-horizontal" id="collapseWidthExample">
          <div class="card card-body" style="width: 300px;">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="filterPost" placeholder="Busar categoria:" [(ngModel)]="nombrecategoria">
              </div>
          </div>
        </div>
      </div>
      <div class="container text-center card-columns">
        <div class="card" *ngFor="let data of categoria | filter:nombrecategoria" style="width: 18rem; ">
            <img [src]="data.imgUrl" class="card-img-top" alt="...">
            
            <div class="card-body  ">
              <h5 class="card-title">{{data.description}}</h5>
              <button type="button" class="btn btn-outline-success">Ver platos</button>
            </div>  
          </div>
      </div>
</div>