<app-header></app-header>

<div class="container">
    <div class="card" *ngFor="let data of dataCarta">
        <div class="card-image">
            <img [src]="data.imgUrl" alt="...">
            <span class="bi bi-x-circle" (click)="removeCarta(data._id)"></span>
        </div>
        <div class="card-content">
            <h3>{{ data.name }}</h3>
            <p>{{ data.description }}</p>
            <p>s/ {{ data.price }}</p>
            <p>
                <label for="quantity">Cantidad: </label>
                <input class="px-3" type="number" id="quantity" name="quantity" min="1" max="99" value="1">
            </p>
        </div>
    </div>
</div>