<app-header></app-header>

<div class="container" style="margin-top: 150px;">
    <h1 class="h1">Política de Privacidad</h1>
    <p class="p">En Ñaños Chicken valoramos y respetamos la privacidad de nuestros clientes. Esta política de privacidad describe cómo recopilamos, utilizamos y compartimos la información personal que obtenemos a través de nuestro sitio web.</p>
    <h1 class="h1">Información Personal</h1>
    <p class="p">Recopilamos información personal que nos proporcionas al realizar un pedido en nuestro sitio web o al suscribirte a nuestro boletín informativo. Esta información puede incluir tu nombre, dirección de correo electrónico, dirección de envío, número de teléfono y detalles de pago.</p>
    <h1 class="h1">Uso de la información personal</h1>
    <p class="p">La información personal que recopilamos se utiliza para procesar pedidos y enviar correos electrónicos de confirmación de pedidos y actualizaciones de envío. También podemos utilizar tu información de contacto para enviarte boletines informativos y promociones especiales. En cualquier momento, puedes optar por no recibir dichos correos electrónicos.</p>
    <h1 class="h1">Compartir información personal</h1>
    <p class="p">No compartimos ni vendemos tu información personal con terceros, excepto cuando sea necesario para procesar tu pedido (por ejemplo, para el envío de tu pedido) o cuando la ley así lo requiera.</p>
    <h1 class="h1">Seguridad de la información personal</h1>
    <p class="p">Tomamos medidas de seguridad razonables para proteger la información personal que recopilamos contra accesos no autorizados o alteraciones. Sin embargo, no podemos garantizar la seguridad absoluta de la información que se transmite a través de internet.</p>
    <h1 class="h1">Ejercicio de tus derechos</h1>
    <p class="p">En cumplimiento de lo dispuesto en la normativa aplicable, puedes ejercer tus derechos de acceso, rectificación, cancelación y oposición respecto a tus datos personales. Para ello, envíanos un correo electrónico a nuestra dirección de contacto y te ayudaremos con el proceso.</p>
    <h1 class="h1">Política de Cookies</h1>
    <p class="p">Utilizamos cookies en nuestro sitio web para mejorar tu experiencia de usuario. Las cookies son pequeños archivos que se almacenan en tu dispositivo cuando visitas nuestro sitio web. Estas cookies no contienen información personal y se utilizan únicamente para fines estadísticos y de análisis.</p>
    <p class="p">Al utilizar nuestro sitio web, aceptas el uso de cookies de acuerdo con nuestra política de cookies. Si no deseas aceptar las cookies, puedes desactivarlas en la configuración de tu navegador.</p>
</div>


<app-footer></app-footer>